/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/log/
/pkg/
/spec/reports/
/tmp/

.env
.DS_Store
.overmind.sock

# Demo app
/demo/.bundle/
/demo/app/assets/builds/
/demo/tmp/
/demo/node_modules/
/demo/config/master.key
/demo/public/packs/
/demo/public/assets/
/demo/storage/*
!/demo/storage/.keep
/demo/log/*.log
/demo/vendor/bundle/

# Ruby LSP
/.ruby-lsp/
